@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --navbar: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 22, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --heading: var(--color-neutral-800);
  --sub-heading: var(--color-neutral-600);
  --text: var(--color-neutral-500);
  --body-background: var(--color-slate-100);
  --container-background: var(--color-slate-50);
  --primary: var(--color-neutral-700);
  --secondary: var(--color-neutral-500);
  --nav-elements: var(--color-slate-400);
  --nav-hover: var(--color-slate-800);
  --border: var(--color-neutral-500);
}

@theme inline {
  --shadow-navbar: var(--navbar);
  --color-heading: var(--heading);
  --color-sub-heading: var(--sub-heading);
  --color-text: var(--text);
  --color-body-background: var(--body-background);
  --color-container-background: var(--container-background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-nav-elements: var(--nav-elements);
  --color-nav-hover: var(--nav-hover);
  --color-border: var(--border);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --heading: var(--color-neutral-100);
    --sub-heading: var(--color-neutral-400);
    /* --text: var(--color-neutral-500);
    --body-background: var(--color-slate-900);
    --container-background: var(--color-slate-950);
    --primary: var(--color-neutral-300);
    --secondary: var(--color-neutral-500);
    --nav-elements: var(--color-slate-400);
    --nav-hover: var(--color-slate-100);
    --border: var(--color-neutral-600);
  }
} */

.dark {
  --heading: var(--color-neutral-100);
  --sub-heading: var(--color-neutral-400);
  /* --text: var(--color-neutral-500); */
  --body-background: var(--color-slate-900);
  --container-background: var(--color-slate-950);
  --primary: var(--color-neutral-300);
  --secondary: var(--color-neutral-500);
  --nav-elements: var(--color-slate-400);
  --nav-hover: var(--color-slate-100);
  --border: var(--color-neutral-600);
}
